<h1 align="center">Cập nhật thông tin nhân viên</h1>
<div class="row">
  <div class="col-md-4 " style="margin-top: 5%">
    <%= form_for @employee, :url => { :action => "update", :id => @employee } do |f| %>
      <%= render 'shared/validate_epl' %>
      <p>Tên: <%= f.text_field 'name', class: 'form-control' %></p>
      <p>Tuổi: <%= f.text_field 'age', class: 'form-control' %></p>
      <p>Ngày sinh: <%= f.text_field 'birthday', class: 'form-control' %></p>
      <p>Địa chỉ: <%= f.text_field 'address', class: 'form-control' %></p>
      <div class="field">
        <%= f.fields_for :employee_file do |ff| %>
          <%= ff.label :position %>
          <%= ff.text_field :position, class: "form-control" %>
        <% end %>
      </div>
      <br>
      <p>Chức vụ trong phòng:
        <%= f.select(:is_pm, [['Trưởng phòng', 0], ['Nhân viên', 1]]) %></p>
      <p>Email:
        <%= f.collection_select :user_id, User.all, :id, :email %></p>
      <p> Vai trò :
        <%= f.collection_select :role_id, Role.all, :name, :name %></p>
      <p>Phòng ban:
      <%= f.collection_select :department_id, Department.all, :id, :name, prompt: true %>
        <br>
        <br>
      <%= f.submit "Lưu thay đổi", class: 'btn btn-primary' %>
      <button class="btn-dark"><%= link_to 'Quay lại', { :action => 'list' } %></button>
    <% end %>

  </div>
  <div class="col-8 ">
    <input id="" type="image"
           src="https://lh3.googleusercontent.com/Ks1AiJ6wtwy-wUE7xqkABD3GZGeNhpyrR8yRHs_idbS2QQkiMQOVP8UycDGpZ2thUAdP4pUVZdZZVYEP5lnFbfgSaCBn11yKGMo10bkbWbNqNykMvjcbwwTAUGNLIo82PjcRE4zf6A=w800"
      />
  </div>
</div>
    <script>$('#employee_user_id').select2()</script>
    <script>$('#employee_department_id').select2()</script>
