<!--<p id="notice"><%#= notice %></p>-->
<% if @employees.blank? %>
  <p>Hiện tại không có nhân viên.</p>
<% else %>
  <p style="color: blue">Hiện tại đang có <%= @employees.length %> nhân viên:</p>
  <table class="table table-striped">
    <tr class="table table-success">
      <th>STT</th>
      <th>Tên</th>
      <th>Role</th>
      <th>Email</th>
      <th colspan="2">Tuỳ chọn</th>
    </tr>
    <% @employees.each_with_index do |c, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to c.name, {:action => 'show', :id => c.id} %></td>
<!--        <td><%#= c.role.name %></td>-->
        <% if c.user.email.present? %>
          <td><%= c.user.email %></td>
          <% else %>
          <td>khong co</td>
          <% end %>
        <td>
          <%= link_to 'Cập nhật', {:action => 'edit', :id => c.id} %>
          <%= link_to "Xoá", {:action => 'delete', :id => c.id} %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<p><%= link_to "Thêm nhân viên", {:action => 'new' }%></p>