<!--<p id="notice"><%#= notice %></p>-->
<% if @employees.blank? %>
  <p>Hiện tại không có nhân viên.</p>
<% else %>
  <p style="color: blue">Hiện tại đang có <%= @employees.length %> nhân viên:</p>
  <table class="table table-striped">
    <tr class="table table-success">
      <th>STT</th>
      <th>Tên</th>
      <th>Role</th>
      <th>Email</th>
      <% if current_user.employee.role_id == 'admin' %>
      <th colspan="2">Tuỳ chọn</th>
        <% end %>
    </tr>
    <% @employees.each_with_index do |c, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to c.name, { :action => 'show', :id => c.id } %></td>
        <td><%= c.role_id %></td>
        <% if c.user.present? %>
          <td><%= c.user.email %></td>
        <% else %>
          <td>khong co</td>
        <% end %>
        <% if c.id == 1 || current_user.employee.role_id != 'admin' %>
        <% else %>
          <td>
            <%= link_to '📝', { :action => 'edit', :id => c.id } %>
          <%= link_to "🗑", { :action => 'delete', :id => c.id }, data: { "turbo-method": :delete,
                                                                          turbo_confirm: "Bạn có chắc không?" }  %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<% if current_user.employee.role_id == 'admin' %>
<p><%= link_to "➕", { :action => 'new' } %></p>
<% end %>