<h1>Thêm nhân viên</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with( model: @employee,url: epl_create_path, local: true) do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name  %>
      </div>

      <div class="field">
        <%= form.label :age %>
        <%= form.text_field :age %>
      </div>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address%>
      </div>

      <div class="field">
        <%= form.label :birthday %>
        <%= form.text_field :birthday %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= collection_select(:employee, :user_id, User.all, :id, :email, prompt: true) %>
      </div>

      <div class="field">
      <%= form.label :role %>
      <%= collection_select(:employee, :role_id, Role.all, :id, :name, prompt: true)  %>
      </div>

      <div class="field">
        <%= form.fields_for :employee_file do |ff| %>
          <%= ff.label :position %>
          <%= ff.text_field :position %>
          <br>
          <%= ff.label :time_onboard %>
          <%= ff.text_field :time_onboard  %>
        <% end %>
      </div>

      <%= form.submit %>
    <% end %>


    <%= link_to 'Quay lại', { :action => 'list' } %>
    </div>
</div>