<h1>Thêm nhân viên</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_with(model: @employee, url: epl_create_path, local: true) do |form| %>
      <%= render 'shared/validate_epl' %>

      <div class="field">
        <%= form.label 'Tên' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="field">
        <%= form.label 'Tuổi' %>
        <%= form.text_field :age, class: 'form-control' %>
      </div>
      <div class="field">
        <%= form.label 'Địa chỉ' %>
        <%= form.text_field :address, class: 'form-control' %>
      </div>
      <div class="field">
        <%= form.label 'Ngày sinh' %>
        <%= form.text_field :birthday, class: 'form-control' %>
      </div>
      <div class="field">
        <%= form.label 'Email' %>
        <%= collection_select(:employee, :user_id, User.all, :id, :email, prompt: true) %>
      </div>
      <div class="field">
        <%= form.label 'Role' %>
        <%= collection_select(:employee, :role_id, Role.all, :name, :id,  prompt: true) %> (1=admin, 2=hr, 3=leader, 4=user)
      </div>
      <div class="field">
        <%= form.label 'Phòng ban' %>
        <%= collection_select(:employee, :department_id, Department.all, :id, :name, prompt: true) %>
      </div>
      <div class="field">
        <%= form.label 'Trưởng phòng' %>
        <%= form.text_field :is_pm, class: 'form-control' %>
      </div>
      <div class="field">
        <%= form.fields_for :employee_file do |ff| %>
          <%= ff.label 'Chức vụ' %>
          <%= ff.text_field :position, class: 'form-control' %>
        <% end %>
      </div>
      <br>
      <%= form.submit 'Lưu thay đổi', class: 'btn btn-success' %>
    <% end %>
    <%= link_to 'Quay lại', { :action => 'list' } %>
  </div>
</div>