<h1><%= @employee.name %></h1>

<p>
  <strong>Tuổi: </strong> <%= @employee.age %><br />
  <strong>Ngày sinh: </strong> <%= @employee.birthday %><br/>
  <strong>Địa chỉ: </strong> <%= @employee.address %><br/>
  <strong>Ngày vào công ty: </strong> <%= @employee.created_at %><br/>
  <% if @employee.department_id.present? %>
  <strong>Phòng ban: </strong> <%= @employee.department.name %><br/>
    <% end %>
</p>


<%= link_to 'Quay lại', {:action => 'list'} %>