<!--<p id="notice"><%#= notice %></p>-->
<% if @dpms.blank? %>
  <p>Hiện tại không có phòng ban nào hoạt động.</p>
<% else %>
  <p style="color: blue">Hiện tại đang có <%= @dpms.length %> phòng ban hoạt động:</p>
  <table class="table table-striped">
    <tr class="table table-success">
      <th>STT</th>
      <th>Tên</th>
      <th>Mô tả</th>
    <th colspan="2">Tuỳ chọn</th>
    </tr>
    <% @dpms.each_with_index do |c, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to c.name, {:action => 'show', :id => c.id} %></td>
        <td><%= c.description %></td>
      <td>
          <%= link_to 'Cập nhật', {:action => 'edit', :id => c.id} %>
          <% if current_user.employee.role_id == 'admin' %>
          <%= link_to "Xoá", {:action => 'delete', :id => c.id} %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<p><%= link_to "Thêm phòng ban", {:action => 'new' }%></p>