<h1 align="center">Thông tin và mô tả về <%= @dpm.name %></h1>
<div class="card">
  <div class="card-body">
    <div class="row">

      <div class="col-4">
        <strong >Trưởng phòng:
          <% if @dpm.pm_user.blank?  %>
            Chưa có trưởng phòng
          <% else %>
            <%= @dpm.pm_user.name %>
          <% end %>

        </strong>
        <br/>
        <strong>Mô tả: </strong> <%= @dpm.description %><br/>
        <strong>Phòng có tất cả </strong> <%= @dpm.employees.count %> người <br/>
      </div>
      <div class="col-4">
        <strong>Các dự án hiện có trực thuộc phòng quản lý: </strong>
        <% @dpm.projects.each do |c| %>
          <% if c.name.blank? %>
            <p>khong co</p>
          <% else %>
            <li><%= link_to c.name, prj_show_path(:id => c.id ) %></li>
          <% end %>
        <% end %>
        <br>
      </div>
      <div class="col-4">
        <strong>Thành viên: </strong>
        <% @dpm.employees.each do |c| %>
          <% if c.is_pm == 1 %>
            <li><%= c.name %></li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<button><%= link_to 'Quay lại', :back %></button>
