<!--<p id="notice"><%#= notice %></p>-->
<% if @dpms.blank? %>
  <p>Hiện tại không có phòng ban nào hoạt động.</p>
<% else %>
  <p style="color: blue">Hiện tại đang có <%= @dpms.length %> phòng ban hoạt động:</p>
  <table class="table table-striped">
    <tr class="table table-success">
      <th>STT</th>
      <th>Tên</th>
      <th>Mô tả</th>
      <%# if current_user.employee.role_id == 'admin' %>
      <% if policy(:department).edit? %>
    <th colspan="2">Tuỳ chọn</th>
      <% end %>
    </tr>
    <% @dpms.each_with_index do |c, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <% if current_user.employee.department_id == c.id || current_user.employee.role_id == 'admin' %>
          <td><%= link_to c.name, { :action => 'show', :id => c.id } %></td>
        <% else %>
          <td><%= c.name %></td>
        <% end %>
        <td><%= c.description %></td>
        <%# if current_user.employee.role_id == 'admin' %>
          <% if policy(:department).edit? %>
            <td>
              <%= link_to '📝', { :action => 'edit', :id => c.id } %>
              <%= link_to "🗑", { :action => 'destroy', :id => c.id }, data: { "turbo-method": :delete, turbo_confirm: "Bạn có chắc không?" } %>
            </td>
          <% end %>
        <%# end %>
      </tr>
    <% end %>
  </table>
<% end %>
<% if current_user.employee.role_id == 'admin' %>
<p><%= link_to "➕", { :action => 'new' } %></p>
<% end %>