<% if @projects.blank? %>
  <p>Hiện tại không có dự án nào.</p>
<% else %>
  <p style="color: blue">Hiện tại đang có <%= @projects.length %> dự án:</p>
  <table class="table table-striped">
    <tr class="table table-success">
      <th>STT</th>
      <th>Tên</th>
      <th>Mô tả</th>
      <th>Phòng ban đảm nhận</th>
      <% if current_user.employee.role_id == 'admin' %>
      <th colspan="2">Tuỳ chọn</th>
        <% end %>
    </tr>
    <% @projects.each_with_index do |c, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to c.name, { :action => 'show', :id => c.id } %></td>
        <td><%= c.description %></td>
        <td><%= c.department.name %></td>
        <td>
          <% if current_user.employee.role_id == 'admin' %>
            <%= link_to '📝', { :action => 'edit', :id => c.id } %>
            <%= link_to "🗑", { :action => 'delete', :id => c.id } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<% if current_user.employee.role_id == 'admin' %>
<p><%= link_to "➕", { :action => 'new' } %></p>
<% end %>