<h1 align="center"> Tên dự án: <%= @project.name %></h1>
<% if  current_user.employee.role_id == 'admin' || current_user.employee.role_id == 'leader' || current_user.employee.is_pm == 0 %>
<button class="btn-light"><%= link_to "Quản lý nhân viên", {:controller => "employee_project", action: 'index', :id => @project.id } %></button>
  <% end %>
<br/>
<div class="card">
  <div class="card-header">
    Thông tin và miêu tả về dự án
  </div>
<p>
  <div class="row">
<div class="col-4">
<!--  <strong>truong du an : </strong>-->
<!--  <br>-->
  <%# if @project.employee_projects.is_leader == 1 %>
<!--  <%#= @project.employee_projects.employee.name %><br />-->
    <%# end %>
<!--  <br>-->
  <strong>Mô tả vệ dự án : </strong>
  <br>
  <%= @project.description %><br />
  <br>
  <strong>Dự án thuộc đang thuộc phòng:  </strong>
  <br>
  <%= @project.department.name %><br/>
  </div>
<div class="col-4">
  <strong>Ngày tạo dự án : </strong>
  <br>
  <%= @project.created_at %><br />
  <br>
  <strong>Lần cập nhật thông tin dự án gần nhất :  </strong>
  <br>
  <%= @project.updated_at %><br/>
  </div>
  </div>
</div>
<br>
<button><%= link_to 'Quay lại', {:action => 'list'} %></button>