<style >
    body {
        background-image: url("https://lh3.googleusercontent.com/L-Ar7IUrfMmkBa3Fofxf_cfyYIhHcgkBwzlPl1thxDCVQxMcKqnLoBXUMfWNxA_FrFc4JK65i1uH-ishLdO3gzR0WnanqPTYcugoeWMqfuLPLFPuz0e7hNkTUnv5Ut7CG1mPIidbPQ=w2400");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .panel-transparent {
        background: none;
    }
    .white{
        color: white;
    }
</style>
<div class="container">
  <div class="row">
    <div class="col-8">
      <input id="" type="image"
             src="https://lh3.googleusercontent.com/Ks1AiJ6wtwy-wUE7xqkABD3GZGeNhpyrR8yRHs_idbS2QQkiMQOVP8UycDGpZ2thUAdP4pUVZdZZVYEP5lnFbfgSaCBn11yKGMo10bkbWbNqNykMvjcbwwTAUGNLIo82PjcRE4zf6A=w800"
        />
    </div>
    <div class="col-4">
      <div class="card panel-transparent" style="margin-left: 25%">
        <div class="card-body ">
      <h2 align="center" class="white" >Đăng Nhập </h2>
        </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group white">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-group" %>
        </div>

        <div class="field form-group white">
          <%= f.label "Mật Khẩu" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-group" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field form-group white">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me , class: "form-group" %>
          </div>
        <% end %>

        <div class=" btn btn-lg">
          <%= f.submit "Đăng Nhập" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      </div>
    </div>


  </div>
</div>
